div.col {
	flex: 0 0 50%;
	max-width: 50%;
	word-wrap: break-word;
}

div.col_full {
	/* flex: 0 0 100%;
	max-width: 100%; */
	word-wrap: break-word;
	text-align: center;
}

div.full h3 {
	font-weight: 400;
} 

.empty_cart {
	text-align: center;
	margin-top: 20%;
}

.empty_cart > p {
	font-size: 3rem;
	color: #3f3f3f;
	margin: 1rem 0;
}

.fa-dizzy {
	font-size: 8rem;
	color: #fda1c1;
}

input, select {
	margin: .2rem 0;
	box-sizing: border-box;
	height: 3rem;
	font-size: 1rem;
	padding: 1rem .5rem .2rem .5rem;
	border: none;
	border-bottom: 1px solid gray;
	display: inline-block;
	border-radius: 0;
	width: 20rem;
}

label {
	display: block;
	margin-top: 2rem;
}

span {
	color: red;
	font-size: 2rem;
}

.invalid {
	transition: .5s;
	background-color: #fcc0c0;
}

form > input:focus {
	border-bottom: 2px solid #ebb502;
}

button {
	width: 24%;
	height: 3rem;
	font-size: 1rem;
	border-radius: 2rem;
	background-color: #ebb502;
	color: #ffffff;
	border: none;
	margin-right: .2rem;
}
