<div class="flex">
	<div class ="col">
		<h2>
			Shipping information
		</h2>
		<form [formGroup]="orderForm">
			<input type="text" [class.invalid]="invalidName" (focus)="invalidName=false" formControlName="firstName" placeholder="Firstname" /><span *ngIf="invalidName">*</span>
			<input type="text" formControlName="lastName" placeholder="Surname" />
			<span formGroupName="address">
				<input type="text" formControlName="street" placeholder="Street" />
				<input type="number" formControlName="postal" placeholder="Postal code" />
				<input type="text" formControlName="city" placeholder="City" />
			</span>
			<input type="email" formControlName="email" placeholder="Email" />
			<label for="paymentMethod">Payment method:</label>
			<select id="paymentMethod" [class.invalid]="invalidPayment" (focus)="invalidPayment=false" formControlName="paymentMethod">
				<option value="paypal">PayPal</option>
				<option value="bitcoin">Bitcoin</option>
				<option value="icecream">Ice Cream</option>
			</select><span *ngIf="invalidPayment">*</span>
		</form>
	</div>
	<div class ="col">
		<h2>
			Order details
		</h2>
		<div class="empty_cart" *ngIf="emptyCart">
			<p>
				Your cart is empty
			</p>
			<i class="fas fa-dizzy"></i>
		</div>
		<app-print-order-item *ngFor="let cartItem of cartContent.cartItems" [cartItem]="cartItem" (removeItem)="removeFromCart($event)" (changeItemQuantity)="changeQuantity($event)"></app-print-order-item>
	</div>
	<div class="col_full" *ngIf="!emptyCart">
		<h3><b>Total: </b>{{ cartContent.totalPrice }} kr</h3> 
		<button type="submit" (click)="validateOrder()">Place Order</button>
	</div>
</div>
