header {
	margin-top: 2rem; 
}

h1 {
	padding-bottom: 2rem;
	text-align: center;
	/* font-family: 'Plaster', cursive; */
	font-family: 'Pacifico', cursive;
	font-size: 4rem;
	color: #ffffff;
	margin:0;
	text-shadow: 0 0 10px #ffffff, 0 0 20px #E64980, 0 0 30px #E64980, 0 0 40px #F26B9C, 0 0 50px #F26B9C, 0 0 60px #FAA2C1, 0 0 70px #FAA2C1;
}

app-navbar {
	background-color: rgba(255, 255, 255, 0.9);
}

.fixed_navigation {
	position: fixed;
    top: 0px;
	z-index: 300;
	width: 100%;
}

.main_margin {
	margin-top:4rem;
}