.modal_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.7);
	z-index: 500;
}

.modal_content {
	top: 0;
	border-radius: .5rem;
	width: 40rem;
	padding: 1rem;
	background-color: #ffffff;
	position: fixed;
	margin: 20% 50%;
	left: -20rem;
	z-index: 500;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-sizing: border-box;
}

.modal_img_container {
	flex: 0 0 30%;
	max-width: 30%;
}

.modal_img_container > img {
	width: 100%;
	height: auto;
}

.col {
	flex: 0 0 70%;
	max-width: 65%;
	margin: 0 1%;;
}

h3 {
	/* flex: 0 0 70%;
	max-width: 68%;*/
	margin: 0; 
}

.close {
	position: absolute;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid gray;
	width: 1.2rem;
	height: 1.2rem;
	z-index: 1000;
	right: 20px;
}

form {
	text-align: left;
	/* padding: 2rem; */
}

form > input {
	width: 3rem;
	height: 2rem;
	font-size: 1rem;
	border-radius: 2rem;
	border: 1px solid gray;
	/* padding-left: 1rem; */
	text-align: center;
	margin-right: .5rem;
}

form > button {
	width: 6rem;
	height: 2rem;
	font-size: .8rem;
	border-radius: 2rem;
	background-color: #ebb502;
	color: #ffffff;
	border: none;
	margin-right: .2rem;
}