<div class="modal_background" (click)="closeModal()"></div>
<div *ngIf="modalMovie" class="modal_content">
	<div class="close" (click)="closeModal()"><i class="fas fa-times"></i></div>
	<div class="modal_img_container">
		<img src='{{ modalMovie.imageUrl }}' />
	</div>
	<div class="col">
		<h3>
			{{modalMovie.name}} | {{modalMovie.year}}
		</h3>
		<p>
			{{modalMovie.description}}
		</p>

		<form (ngSubmit)="addToCart({quantity: movieQuantity.value})">
			<input type="number" #movieQuantity value="1">
			<button type="submit">Add to cart</button>
		</form>
	</div>

</div>
