/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
	font-family: 'Raleway', sans-serif;
	/* border: 1px solid red; */
	box-sizing: border-box;
}

body {
	margin: 0;
	/* background-color: #27272b; */
}

.no_scroll {
	overflow: hidden;
}