/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
	font-family: 'Raleway', sans-serif;
	/* border: 1px solid red; */
	box-sizing: border-box;
	outline: none;
}

body {
	margin: 0;
	/* background-color: #27272b; */
}

.header_link{
	text-decoration: none;
}

.no_scroll {
	overflow: hidden;
}

.flex {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
} 

.col_full {
	flex: 0 0 100%;
	max-width: 100%;
}